.container {
  padding: 15px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.car {
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  left: -22px;
  bottom: 10px;
  background-color: #fff;
}

@keyframes example {
  0% {
    left: calc(0% - 22px);
  }
  100% {
    left: calc(100% - 22px);
  }
}
.emptybar {
  width: calc(100% - 22px);
  background-color: #eee;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.barfluid {
  height: 8px;
  background-color: green;
  border-radius: 4px;
  animation-name: animatebar;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  width: 0%;
}
@keyframes animatebar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.stepscontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.step {
  position: relative;
}

.stepcirclecomplete {
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: animateicons;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes animateicons {
  0% {
    background-color: #fff;
  }
  100% {
    opacity: 1;
    background-color: green;
  }
}
.stepcirclepending {
  width: 20px;
  height: 20px;
  border: 2px solid #ddd;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
.steplabel {
  margin: 5px 0;
  color: gray;
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  width: 100px;
  text-align: center;
  right: -40px;
}
